<% provide(:title, @genre.name) %>

<div class="row-fluid">         
 <div class="span3 hero-unit">
  <%= link_to "Add album", new_album_path(genre_id: @genre) %>
  <%= link_to "Revert back", root_url %>
 </div>
 <div class="span9 hero-unit center">
   <h3>
     <%= @genre.name %>
   </h3>
     <% for albums in @genre.albums %>
      <ul>
        <li class="span3">
          <div class="thumbnail center">
            <%= link_to ( image_tag title_album_image(albums)), albums %>
          <h4>
            <%= link_to albums.name, album_url(albums.id) %> - <%= albums.paintings.count %> images
          </h4>
          <h5>
            <%= link_to "Edit", edit_album_url(albums) %>
            <%= link_to "Delete", albums, method: :delete, data: { confirm: "Are you sure?" } %>
          </h5>
        </div>
        </li>
      </ul>
     <% end %>
 </div>
</div>
