<% provide(:title, @album.name) %>

<% if user_signed_in? %>

  <div class="row-fluid">
    <div class="span3 well center">
      <%= link_to "Add image", new_album_painting_url(@album) %><br />
      <%= link_to "Revert back", genre_albums_url(@album.genre) %>
    </div>
    <div class="span9 well center" >
      <h3>
        <%= "Album " + @album.name %>
      </h3>
      <% @paintings.each do |painting| %>
      <p>
        <ul>
          <li class="span3">
            <div class="thumbnail center">
                <%= link_to (image_tag painting.image_url(:thumb)), painting.image_url, data: { colorbox: true }, title: painting.name if painting.image? %> 
              <h4>
                <%= painting.name %> 
              </h4>
              <h5>
                <%= link_to "Edit", edit_album_painting_url(@album, painting) %>
                <%= link_to "Delete", [@album, painting],  method: :delete, data: { confirm: "You sure?" } %>
              </h5>
            </div>
          </li>
        </ul>
      </p>
    <% end %>
   </div>
  </div>

<% else %>

  <div class="row-fluid">
    <div class="span3 well">
      <%= link_to "Revert back", genre_albums_url(@album.genre) %>
    </div>
    <div class="span9 well center" >
      <h3>
        <%= "Album " + @album.name %>
      </h3>
      <% @paintings.each do |painting| %>
      <p>
        <ul>
          <li class="span3">
            <div class="thumbnail center">
                <%= link_to (image_tag painting.image_url(:thumb)), painting.image_url, data: { colorbox: true }, title: painting.name if painting.image? %> 
              <h4>
                <%= painting.name %> 
              </h4>
            </div>
          </li>
        </ul>
      </p>
    <% end %>
   </div>
  </div>

<% end %>
