<h3>                                                              
  <%= @album.name %>                                                      
<h3>                                                             
  <% for painting in @album.paintings%> 
  <ul>                                                                       
    <li class="span3">                                                   
      <div class="thumbnail center">                   
        <%= link_to (image_tag painting.image_url(:thumb)), painting.image_url, data: { colorbox: true}, title: painting.name if painting.image? %> 
          <h4>                                                              
            <%= painting.name %>                                    
          </h4>                                                                
          <h5>
            <%= link_to "Edit", edit_painting_url(painting) %>             
            <%= link_to "Delete", painting, method: :delete, data: { confirm: "Are you sure?" } %> 
          </h5>
          </div>
        </li>
      </ul>
 <% end %>
