<% provide(:title, @genre.name) %>

<% if user_signed_in? %>
  <div class="row-fluid">
   <div class="span3 well center">
     <%= link_to "Add album", new_genre_album_url(@genre) %><br />
     <%= link_to "Revert back", root_url %>
   </div>
   <div class="span9 well center" >
     <h3>
       <%= "Genre " + @genre.name %>
     </h3>
     <% @albums.each do |album| %>
      <p>
       <ul>
         <li class="span3">
           <div class="thumbnail center">
             <%= link_to (image_tag title_album_image(album)), album_paintings_url(album) %> 
             <h4>
               <%= link_to "Album " + album.name, album_paintings_url(album) %> - <%= album.paintings.count %> images
             </h4>
             <h5>
               <%= link_to "Edit", edit_genre_album_url(@genre, album) %>
               <%= link_to "Delete", [@genre, album], method: :delete, data: { confirm: "You sure?" } %>
             </h5>
           </div>
         </li>
       </ul>
      </p>
     <% end %>
   </div>
  </div>
<% else %>
  <div class="row-fluid">
   <div class="span3 well">
        <%= link_to "Revert back", root_url %>
   </div>
   <div class="span9 well center" >
     <h3>
       <%= "Genre " +  @genre.name %>
     </h3>
     <% @albums.each do |album| %>
      <p>
       <ul>
         <li class="span3">
           <div class="thumbnail center">
             <%= link_to (image_tag title_album_image(album)), album_paintings_url(album) %> 
             <h4>
               <%= link_to "Album " + album.name, album_paintings_url(album) %> - <%= album.paintings.count %> images
             </h4>
           </div>
         </li>
       </ul>
      </p>
     <% end %>
   </div>
  </div>
<% end %>
